.imgBox {
    overflow: hidden;
    border-radius: 8px;
    display: inline-block;
}

.imgBox img {
    object-fit: cover;
    display: block;
    transition: transform 0.4s;
    border-radius: 8px;
}

.imgBox:hover img {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.3s ;
}